* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: #772953;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: 340px;
}

.current-display {
    width: 340px;
    text-align: right;
    padding: 22px 12px;
    background-color: black;
    font-size: 32px;
    /* border-radius: 6px; */
}

.btns {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

button {
    font-size: 22px;
    color: whitesmoke;
    width: 85px;
    height: 65px;
    margin: auto;
    /* border-radius: 6px; */
    background-color: #000000;
}

.all-clear {
    background-color: #a52a2a;
}

.delete {
    background-color: #292e77;
}

.operator {
    background-color: #282828;
}

#equals {
    width: 170px;
    background-color: green;
}

button:active {
    color: #775e29;
}